<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Eduwizz</title>
    <%- include partials/top-scripts.ejs %>
    <%- include partials/styles.ejs %>
</head>

<body>
<section id="vueApp" class="main-container">
    <router-view></router-view>
    <%- include vues/home.ejs %>
    <%- include vues/login.ejs %>
    <%- include vues/dashboard.ejs %>
    <%- include vues/math.ejs %>
    <%- include vues/chemistry.ejs %>
    <%- include vues/biology.ejs %>
    <%- include vues/physics.ejs %>

</section>

<%- include partials/scripts.ejs %>

<script src="/js/vue.min.js"></script>
<script src="/js/vue-router.js"></script>

<script src="/dist/js/plugins/jwt-plugin.js"></script>
<script src="/dist/js/plugins/s3-plugin.js"></script>

<script type="application/javascript">
    Vue.use(VueRouter)
    Vue.use(JwtPlugin);
    Vue.use(S3Plugin);

    var home = Vue.component('home', {template: '#homeVue'})
    var login = Vue.component('login', {template: '#loginVue'})

    var dashboard = Vue.component('dashboard', {template: '#dashboardVue'});
    var math = Vue.component('math', {template: '#mathVue'});
    var biology = Vue.component('biology', {template: '#biologyVue'});
    var chemistry = Vue.component('chemistry', {template: '#chemistryVue'});
    var physics = Vue.component('physics', {template: '#physicsVue'});
    var routes = [
        {
            path: '/login',
            component: login,
            meta: {auth: false}
        },
        {
            path: '/',
            component: home,
            meta: {auth: true},
            children: [
                {path: '', component: dashboard, meta: {auth: false}},
                {path: '/maths', component: math, meta: {auth: true}},
                {path: '/biology', component: biology, meta: {auth: true}},
                {path: '/chemistry', component: chemistry, meta: {auth: true}},
                {path: '/physics', component: physics, meta: {auth: true}}
            ]
        }];

    var router = new VueRouter({routes: routes});

    router.beforeEach(function (to, from, next) {
        console.log("Auth Guard Called!");

        if (to.meta.auth && !Vue.isLoggedIn()) {
            next('/login')
        } else {
            next()
        }
    })
    new Vue({router: router}).$mount('#vueApp')
</script>

</body>
</html>
