<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Eduwizz</title>
    <%- include partials/top-scripts.ejs %>
    <%- include partials/styles.ejs %>
</head>

<body>
<section id="vueApp" class="main-container">
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <a href="index.ejs" class="logo"><b>EDUWIZZ</b></a>
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="home" href="#/">Home</a></li>
                <li><a class="logout" href="login.html">Logout</a></li>
            </ul>
        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <p class="centered">
                    <a href="profile.html">
                        <img src="/img/owl2_128_128.png" class="img-circle" width="60">
                    </a>
                </p>
                <h5 class="centered">Marcel Newman</h5>
                <li class="mt">
                    <a class="active" href="index.ejs">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <section id="main-content">
        <section class="wrapper">
            <router-view></router-view>
            <%- include vues/home.ejs %>
            <%- include vues/math.ejs %>
            <%- include vues/chemistry.ejs %>
            <%- include vues/biology.ejs %>
            <%- include vues/physics.ejs %>
        </section>
    </section>
</section>

<%- include partials/scripts.ejs %>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script type="application/javascript">
    Vue.use(VueRouter)
    var home = Vue.component('home', {template: '#homeVue'});
    var math = Vue.component('home', {template: '#mathVue'});
    var biology = Vue.component('home', {template: '#biologyVue'});
    var chemistry = Vue.component('home', {template: '#chemistryVue'});
    var physics = Vue.component('home', {template: '#physicsVue'});
    var routes = [{path: '/', component: home}, {path: '/maths', component: math},
        {path: '/biology', component: biology}, {path: '/chemistry', component: chemistry},
        {path: '/physics', component: physics}]
    var router = new VueRouter({routes: routes})
    new Vue({router: router}).$mount('#vueApp')
</script>

</body>
</html>
